extends layout

block content
  h1= title

  div 
    img(src=helmet.photoUrl , alt="Helmet preview")
    div 
        h4 #{helmet.name}
        p  #[strong Price:] #{helmet.price}
        p  #[strong Code:] #{helmet.code}
        p  #[strong Category:] #{helmet.category[0].name}
    div.btn-group
        a(href=`/catalog/helmetinstance/create/${helmet._id}`)
            button.btn.btn-secondary Create new helmet instance
        a(href=`/catalog/helmet/${helmet._id}/update`) 
            button.btn.btn-secondary Update Helmet 
        a(href=`/catalog/helmet/${helmet._id}/delete`) 
            button.btn.btn-secondary Delete Helmet 
        

       
    .row 
        each helmet_instance in helmet_instances
            .card.col-sm-4
                img.card-img-top(src=helmet_instance.photoUrl , alt="Helmet preview")
                div.card-body
                    p #[strong Size:] #{helmet_instance.size}
                    p #[strong Color:] #{helmet_instance.color}
                    p #[strong Amount:] #{helmet_instance.amount}
                    a.btn.btn-secondary(href=`/catalog/helmetinstance/${helmet_instance._id}/update`) Update
                    a.btn.btn-secondary(href=`/catalog/helmetinstance/${helmet_instance._id}/delete`) Delete




