extends layout

block content
  h1= title
  if error 
    p Error getting dynamic content 
  if(helmets_list[0] === undefined)  
    p There are not helmets in this Category
  else 
    p You have following helmets in this Category 

  div.btn-group
    a(href="/catalog/helmet/create") 
      button.btn.btn-secondary Create New Helmet
    if category
      a(href=`/catalog/category/${category._id}/update`) 
        button.btn.btn-secondary Update Category 
      a(href=`/catalog/category/${category._id}/delete`) 
        button.btn.btn-secondary Delete Category 


  div.row
    each helmet in helmets_list 
          .card.col-sm-4
            img.card-img-top(src=helmet.photoUrl, alt="")
            div.card-body
                a.card-title(href=helmet.url) #{helmet.name}

