extends layout

block content
  h1= title
  if error 
    p Error getting dynamic content 
  if(helmets_list[0] === undefined)  
    p There are not helmets in this Category
  else 
    p You have following helmets in this Category 

  if category
    a(href=`/catalog/category/${category._id}/delete`) Delete this category 
  a(href="/catalog/helmet/create") Create New Helmet
  ul  
    each helmet in helmets_list 
        a(href=helmet.url) 
            div 
                img(src=helmet.photoUrl, alt="")
                h5 #{helmet.name}
    
