extends layout

block content
  h1= title
  
  form(action="", method="post") 
    div.form-group 
        label(for="name") Name: 
        input#name.form-control(required type="text", name="name" value=(helmet  === undefined ? "": helmet.name))
        label(for="description") Description: 
        textarea#description.form-control(name="description", cols="30", rows="10")
    div.form-group 
        label(for="price") Price: 
        input#price.form-control(required type="number", name="price" value=(helmet  === undefined ? "": helmet.price))
        label(for="code") Code: 
        input#code.form-control(required type="text", name="code" value=(helmet  === undefined ? "": helmet.code))
    div.form-group 
        label(for="category") Category: 
        select#category.form-control(type='select' placeholder='Select Category' name='category' required='true' )  
            for category in category_list 
                if helmet 
                    option(value=category._id
                    selected=(category._id.toString() == helmet.category ? "selected" : false) 
                    ) #{category.name}
                else 
                    option(value=category._id) #{category.name}
    

    button.btn.btn-primary(type="submit") Submit 

    if errors 
        ul 
            for error in errors 
                li!= error.msg 